.contactFormSection {
    background-image: url(../../Assets//Imagenes/fotoContactoFinal.jpg);
    background-color: #090909;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 90px 80px 0 80px;
    margin: -90px 0 0 0;
    background-position-x: right;
}

.formContainer{
    padding: 40px 0 80px 0;
    width: 50%;
}

.formChildren{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactH1{
    font-size: 34px;
    width: 540px;
    text-align: left;
}

.contactForm {
    margin: 24px 0 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.contactForm input {
    background-color: #282828;
}

.contactForm input::placeholder{
    color: #FEFEFE;
}

.topFormDiv{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.topFormDiv input {
    height: 41px;
    width: 245px;
}

.emailFormInput {
    height: 41px;
    width: 530px;
}

.messageFormInput {
    height: 135px;
    width: 530px;
}

.belowFormDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.belowTextDiv p{
    font-size: 12px;
}

.sendForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 22px 0 12px;
    height: fit-content;
    background-color: #D22EB6;
    border-radius: 6px;
    border: solid 1px #D22EB6;;
}

.sendForm:hover{
    background-color: #A53692;
    cursor: pointer;
}

.sendForm input {
    background-color: transparent;
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
}

.socialMediaDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMediaDiv h3 {
    padding: 32px 0 24px 0;
    width: 75%;
    text-align: center;
    border-top: 2px solid #404040;
}

@media (max-width: 500px){
    .contactFormSection{
        background: none;
        margin: 24px 0 0 0;
        padding: 0 20px;
    }
    .formContainer{
        width: 100%;
    }
    .formChildren{
        justify-content: start;
    }
    .contactH1{
        width: 100%;
        margin: 0;
    }
    .contactForm{
        margin: 24px 0 32px 0;
        padding: 0;
        justify-content: left;
        align-items:start;
    }
    .topFormDiv{
        flex-direction: column;
        width: 100%;
    }
    .topFormDiv input{
        width: 95%;
    }
    .emailFormInput, .messageFormInput{
        width: 148%;
    }
    .belowFormDiv{
        flex-direction: column;
        gap: 24px;
    }
    .socialMediaDiv h3{
        font-size: 23px;
        width: 100%;
    }
}