.preguntasSection{
    display: flex;
    padding: 140px 80px 160px 80px;
    gap: 40px;
}

.leftDivPreguntas{
    width: 25%;
}

.FAQH2{
    color: var(--secondary-font-color);
    font-size: 22px;
    margin-bottom: 10px;
}

.questionMainDiv {
    width: 730px;
}

