
.workShopContainer h2{
    text-align: center;
}

.mainCardDiv{
    display: flex;
    justify-content: center;
    gap: 30px;
}


.cardDiv {
    display: inline-block;
    border-radius: 15px;
    border: solid gray 2px;
    background-color: #302a2f;
    width: 28vw;
}

.topCardDiv{
    margin: 15px 15px 40px 35px;
    color: white;
}

.workShopContainer h4{
    display: inline-block;
    background-color: rgba(130, 127, 127, 0.675);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    margin: 30px 0 0 35px ;
}

.workShopContainer h3{
    margin-bottom: 15px;
}

.cardTitle {
    line-height: 30px;
    margin-bottom: 50px;
}

.cardSecondDiv{
    color: #646264;
    padding-bottom: 50px;
    margin: 15px 15px 80px 35px;
}

.cardButton{
    padding: 7px 30px 10px 030px;
    border: 3px solid rgb(144, 32, 172) ;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(144, 32, 172);
    font-weight: bold;
    margin: 15px 0 30px 35px;
}

.cardButton:hover{
    background-color: rgb(144, 32, 172);
    color: white;
}

.coloredDiv{
    width: 100%;
    height: 10px;;
    background-color: rgb(144, 32, 172);
    border-radius: 0 0 15px 15px;
    margin-bottom: -1px;
}
