.redirectionSection {
    padding: 81px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090909;
}

.redirectionMainDiv {
    display: flex;
    flex-direction: row;
    background-color: #A53692;
    border-radius: 15px;
    padding: 32px 56px;
    align-items: center;
    gap: 150px;
}

.divLeftRedirection{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 16px;

}
.divLeftRedirection h3{
    font-size: 32px;
    font-weight: var(--semibold-weight);
}
.divLeftRedirection p{
    color: var(--main-font-color);
}

.redirectionButton{
    width: 262px;
    font-size: 14px;
    color: black;
    background-color: var(--main-font-color);
}

.redirectionButton:hover{
    background-color: #D22EB6;
    border: #D22EB6 solid 1px;
}

@media (max-width: 500px){
    .redirectionSection{
        padding: 40px 20px;
        margin: 0;
    }
    .redirectionMainDiv{
        flex-direction: column;
        padding: 30px 15px;
        gap: 20px;
    }
    .divLeftRedirection{
        width: 100%;
    }
    .divLeftRedirection h3{
        font-size: 25px;
    }
    .redirectionButton{
        width: 240px;
    }
}