.aboutUsTextSection {
    padding: 60px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aboutUsTextSection h3 {
    font-weight: var(--semibold-weight);
    font-size: 28px;
}
