.mainSectionHero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../Assets/Imagenes/softSkillsFinalPicture.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: right;
  background-color: #0b0704;
  height: 100vh;
  margin: -92px 0 0 0;
  padding: 40px 0 0 80px;
}

.textDivSoft h2{
  font-size: 44px;
  margin-bottom: 20px;
  font-weight: var(--semibold-weight);
}

.textDivSoft p {
  margin-bottom: 30px;
}

.heroPinkText {
  color: #A53692;
  font-family: var(--fuente);
  font-weight: var(--semibold-weight);
  font-size: 44px;
  display: inline;
}

@media (max-width: 500px){
  .mainSectionHero{
    background: none;
    margin: 100px 0 0 0;
    padding: 0;
    height: 75vh;
    justify-content: start;
  }
  .textDivSoft{
    padding: 0 20px;
  }
  .textDivSoft h2{
    margin-bottom: 40px;
    text-align: left;
    font-size: 40px;
    line-height: 115%;
  }
  .textDivSoft p{
    line-height: 115%;
  }
  .pinkTextUs{
    font-size: 40px;
  }
  .buildTextWhy {
    margin-bottom: 40px;
  }
  .textDivSoft button{
    font-weight: var(--semibold-weight);
    padding: 0 25px;
    font-size: 15px;
  }
}