.mainSectionHero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  background-image: url("../../Assets/Imagenes/HeroSoftSkills.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  height: 102vh;
  margin: -100px 0 0 0;
}

.textDivSoft {
  padding-left: 200px;
}

.textDivSoft h1{
  font-size: 38px;
  line-height: 100%;
}

.heroPinkText {
  color: #A53692;
  font-family: var(--fuente);
  font-weight: var(--semibold-weight);
  font-size: 38px;
  display: inline;
}
