/* * {
    border: solid 1px purple;
} */

.homeBody {
    background-color: #141414;
}

.workshopH2 {
    text-align: center;
    padding: 48px 0;
    margin: 0 80px;
}

.moreCourses{
    margin: auto;
    display: flex;
    width: fit-content;
    padding: 0 40px;
    height: 48px;
    align-items: center;
    background-color: #5E4DCD;
    border: #5E4DCD solid 1px;
}

.moreCourses:hover {
    background-color: #553f99;
}