* {
    border: solid 1px purple;
}

.homeBody {
    background-color: #141414;
}

.moreCourses{
    margin: auto;
    display: flex;
    width: fit-content;
    padding: 0 40px;
    height: 48px;
    align-items: center;
    background-color: #5E4DCD;
}

.homeTextGradient{
    font-family: var(--fuente);
    font-weight: var(--semibold-weight);
    font-size: 44px;
    display: inline;
}

