.staffSection {
    display: flex;
    flex-direction: row;
    padding: 30px 80px;
    margin: 0;
    justify-content: space-evenly;
    background-color: #080808;
}

@media (max-width: 500px){
    .staffSection {
        padding: 30px 20px;
        margin: 0 0 106px 0;
    }    
    .staffSection h2{
        text-align: left;
        font-size: 36px;
    }
    .gradientStaffPhone {
        font-size: 36px;
    }
}