nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: transparent;
    padding: 0 80px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDiv{
    width: 45%;
}

.logoDiv img{
    width: 30%;
}

.navDiv{
    width: 55%;  
    color: black;
}

.contactButton{
    font-size: 1.2rem;
    border-radius: 5px;
    border: white solid 1px;
    background-color: transparent;
    font-weight: bold;
    padding: 10px 30px;;
}

.contactButton:hover{
    background-color: blueviolet;
    border: blueviolet solid 1px;
}