nav{
    height: 90px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    background-color: transparent;
    justify-content: space-between;
}
.links{
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    gap: 50px;
    transition: all .6s ease;
}
.links.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    gap: 35px;
    z-index: 2;
}
.links.active li{
    display: block;
}


.logoDiv{
    display: flex;
    align-items: center;
}
.logoDiv img{
    height: 40px;
    z-index: 2;
}

.navFont {
    display: flex;
    gap: 5px;
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 120%;
    list-style: none;
    font-size: 14px;
    font-weight: var(--semibold-weight);
}
.links.active .navFont{
    font-size: 20px;
}
.contactButton {
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    height: 35px;
    width: max-content;
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
    border: #FEFEFE solid 1px;
    border-radius: 6px;
    line-height: auto;
}
.contactButton:hover {
    background-color: #D22EB6;
    border: #D22EB6 solid 1px;
}

.burger{
    z-index: 2;
}
.initial{
    position: absolute;
    background-color: #282828;
    top: -700px;
    left: -2000px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .5s ease;
    border-radius: 0 0 80% 0;

}
.initial.active{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:800px)
{
    nav{
        margin: 0 80px;
    }
    .burger{
        display: none;
    }
    .links{
        position: initial;
        margin-right: 0px;
    }
    .links li {
        display: inline;
    }
}
