nav {
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 80px;
    background-color: transparent;
    justify-content: space-between;
}

.logoDiv img{
    height: 34px;
}

.navbarMenu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
}

.navFont{
    display: flex;
    gap: 5px;
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 120%;
    list-style: none;
    font-size: 14px;
    font-weight: var(--semibold-weight);
}

.dropdownIcon{
    width: 12px;
}

.contactButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    height: 35px;
    width: max-content;
    padding: 0 10px;
    font-size: 14px;
    background-color: transparent;
    border: #FEFEFE solid 1px;
    border-radius: 6px;
    line-height: auto;
}

.contactButton:hover{
    background-color: #D22EB6;
    border: #D22EB6 solid 1px;
}