.courseDetailHeroSection {
    padding: 0px 80px ;
}

.divSectionContainer{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.topDivDetailHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topDivDetailHero h4{
    margin-bottom: 24px;
}

.courseDetailH2 {
    font-size: 38px;
    font-weight: var(--semibold-weight);
    margin-bottom: 5px;
}

.topDivDetailHero h3 {
    margin-bottom: 24px;
    font-size: 28px;
}

.topInnerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top : 56px;
}

.fechaLarga{
    font-weight: var(--semibold-weight);
}

.fecha {
    font-size: 32px;
    font-weight: var(--medium-weight);
    color: var(--main-font-color);
}

.dateAbreviation{
    font-size: 32px;
    margin-left: 5px;
}

.inscriptionButton{
    margin-left: 50px;
    background-color: transparent;
    border: solid 2px var(--main-font-color);
}

.inscriptionButton:hover{
    border: #A53692 solid 2px;
}

.centerDivDetailHero{
    width: 51%;
}

.dropdownDetailDeployer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 24px;
    background-color: transparent;
}

.courseInfo p {
    padding: 24px;
    background-color: #242527;
}

.drop {
    width: 16px;
}

.bellowDivDetailHero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.certificationBadgeDiv {
    display: flex;
    gap: 24px;
    align-items: center;
}

@media (max-width: 500px){
    .courseDetailHeroSection{
        padding: 93px 20px 0 20px;
    }
    .divSectionContainer{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .divSectionContainer{
        gap: 46px;
    }
    .topInnerDiv{
        width: 320px;
        flex-wrap: wrap;
    }
    .fecha, .dateAbreviation{
        margin-bottom: 24px;
    }
    .inscriptionButton{
        margin: 0;
    }
    .centerDivDetailHero{
        width: 100%;
    }
    .dropdownDetailDeployer{
        padding: 0 24px;
    }

    .bellowDivDetailHero{
        flex-direction: column;
        gap: 24px;
    }
    .certificationBadgeDiv {
        gap: 10px;
    }
    .badgeText{
        font-size: 16px;
    }
}