.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 0 80px;
    background-image: url("../../Assets/Imagenes/OfertaAcademica\ Hero.jpg");
    background-color: #030303;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: right;
    height: 101vh;
    margin: -100px 0 0 0;
}

.heroMainDiv{
    width: 50vw;
}

.mainH2{
    font-family: var(--fuente);
    font-weight: var(--semibold-weight);
    font-size: 44px;
    margin-bottom: 20px;
    text-align: left;
}

.mainHeroP{
    margin: 20px 0 30px 0;
    text-align: left;
    font-weight: var(--regular-weight);
    font-size: 16px;
    color: var(--secondary-font-color);
    line-height: 150%;
}

@media (max-width: 500px) {
    .heroSection {
        background-position-x: -110px;
        padding: 0px 20px 0px 20px;
    }
    .heroMainDiv{
        width: 100%;
    }
    .mainH2, .ofertaGradientPhone {
        font-size: 43px;
        margin: 0;
        padding: 0;
    }
    .mainH2{
        margin-bottom: 24px;
    }
    .mainHeroP {
        margin: 0 0 40px 0;
        padding: 0%;
    }

}