.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 0 80px;
    background-image: url("../../Assets/Imagenes/OfertaAcademica\ Hero.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: right;
    height: 101vh;
    margin: -100px 0 0 0;
}

.heroMainDiv{
    width: 50vw;
}

.mainH2{
    font-family: var(--fuente);
    font-weight: var(--semibold-weight);
    font-size: 44px;
    margin-bottom: 20px;
}

.mainHeroP{
    margin: 20px 0 30px 0;
}
