.impactoMainSection {
    padding: 52px 0px 81px 0px;
    text-align: center;
    background-color: #090909;
}

.impactoMainSection h2{
    font-weight: var(--semibold-weight);
}

.impactoMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.impactoMainDiv div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    width: 237px;
    gap: 13px;
}

.softSkillsIcon {
    width: 46px;
}

.impactoMainDiv h4 {
    color: var(--main-font-color);
    font-size: 16px;
}

.impactoMainDiv p{
    font-size: 14px;
}

@media (max-width: 500px){
    .impactoMainSection h2{
        margin-bottom: 24px;
    }
    .impactoMainDiv{
        flex-direction: column;
        gap: 24px;
    }
    .impactoMainDiv div{
        flex-direction: row;
        width: 100%;
        padding: 0 20px;
        gap: 18px;
    }
}