

.impactoMainSection {
    margin: 52px 0px 81px 0px;
    padding: 0 80px;
    text-align: center;
}

.impactoMainSection h2{
    font-weight: var(--semibold-weight);
}

.impactoMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.impactoMainDiv div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    width: 237px;
    gap: 13px;
}

.softSkillsIcon {
    width: 46px;
}

.impactoMainDiv h4 {
    color: var(--main-font-color);
    font-size: 16px;
}

.impactoMainDiv p{
    font-size: 14px;
}