.aboutUsOfferSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 100px 112px 100px;
}

.h3 {
    font-weight: var(--semibold-weight);
    font-size: 28px;
    margin-bottom: 40px;
}

.elementContainer {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto;
    row-gap: 15px;
    column-gap: 72px;
}

.aboutUsIconContainer{
    width: 261px;
    padding: 32px 7px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.aboutUsIconContainer img {
    width: 46px;
}