:root {
    --fuente: 'Montserrat', sans-serif;
    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;
    --main-font-color: #FEFEFE;
    --secondary-font-color: #CFCFCF;
    --line-height1: 120%;
    --line-height2: 150%;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

body {
    background-color: #141414;
}

h1 {
    font-weight: var(--semibold-weight);
    font-size: 44px;
    color: var(--main-font-color);;
    line-height: 120%;
}

h2 {
    font-weight: var(--medium-weight);
    font-size: 28px;
    color: var(--main-font-color);;
    line-height: 120%;
}

h3 {
    font-weight: var(--medium-weight);
    font-size: 24px;
    color: var(--main-font-color);;
    line-height: 120%;
}

.tag {
    font-weight: var(--regular-weight);
    font-size: 14px;
    color: var(--secondary-font-color);
    line-height: 150%;
    padding: 4px 25px;
}

p{
    font-weight: var(--regular-weight);
    font-size: 16px;
    color: var(--secondary-font-color);
    line-height: 150%;
}
.body1{
    font-weight: var(--regular-weight);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 150%;
}

a{
    font-weight: var(--regular-weight);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 120%;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

li {
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 120%;
    list-style: none;
}

button {
    font-weight: var(--semibold-weight);
    font-size: 16px;
    color: var(--main-font-color);
    height: 48px;
    width: max-content;
    padding: 0 40px;
    background-color: #D22EB6;
    border-radius: 6px;
    border: solid 1px #D22EB6;;
    line-height: auto;
}

button:hover{
    background-color: #A53692;
    cursor: pointer;
}

input {
    color: #FEFEFE;
    background-color: transparent;
    border-radius: 6px;
    padding-left: 16px;
    border: none;
}

.body2 {
    color: var(--secondary-font-color);
    font-weight: var(--medium-weight);
    line-height: 150%;
    font-size: 16px;
}

.body3{
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: var(--bold-weight);
    line-height: 150%;
}