footer{
    background-color: #282828;
    display: flex;
    flex-direction: column;
    padding: 0 80px 50px 80px;
    height: 430px;
}
.secciones {
    display: flex;
    flex-direction: row;
    margin: 60px 0 70px 0;
}

/* Estilos seccion 1 (derecha) */
.footerSection1 ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
.footerLogo{
    width: 130px;
}
.footerPartnerP{
    margin: 20px 0 48px 0;
}
.phoneNumber {
    margin-bottom: 26px;
}
.footerIcon {
    width: 24px;
}
.linkedIn{
    border-radius: 3px;
}

/* Estilos Sección 2 (centro) */
.footerSection2{
    padding: 0 180px 0 140px;
}
.footerSection2 ul{
    width: 165px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Estilos sección 3 (izquierda) */
.footerSection3{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 370px;
}
.suscribeH2{
    font-size: 22px;
    line-height: 120%;
    font-weight: var(--medium-weight);
}
.emailInput{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailLabel{
    width: 100%;
}
#emailFooter {
    width: 103%;
    height: 38px;
    padding: 0 0 0 16px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}
.arrowIcon {
    width: 25px;
}
.submitFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
}

/* Estilos del bloque de los Copyrights*/
.copyrights{
    border-top: 1px solid aliceblue;
    display: flex;
    justify-content: center;
    padding: .5em 0;
}
.copyrights p {
    width: 55%;
    text-align: end;
}
.belowRightSection{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: flex-end;
    width: 45%;
    padding-right: 3px;
}