footer{
    background-color: #302a2f;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em 1em 0 ;
}
.text{
    font-size: .9em;
}
.footerContainer a{
    color:  #fafafa;
}
.secciones {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    padding: 2% 4% 2% 7%;
}


/* Estilos seccion 1 (derecha) */
.footerSection1{
    width: 40%;
    padding-left: 1em;
}
.footerSection1 ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
.footerLogo{
    width: 28%;
    margin-bottom: 10px;
}
.footerPartnerP{
    margin-bottom: 35px;
}
.phoneNumber {
    margin-bottom: 15px;
}

/* Estilos Sección 2 (centro) */
.footerSection2{
    width: 30%;
}
.footerSection2 h3 {
    font-size: 1em;
    margin-bottom: 15px;
}
.footerSection2 ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerSection2 ul a{
    font-weight: lighter;
    text-decoration: none;
}

/* Estilos sección 3 (izquierda) */
.footerSection3{
    width: 30%;
}
.topRightSection{
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 15px;
}
.footerh2{
    font-size: 1.6em;
}
.emailInput{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
}
.emailInput input {
    width: 88%;
    height: 80%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid aliceblue;
    background-color: #302a2f;
    color: #fafafa;

}
.emailInput button {
    width: 10%;
    height: 125%;
    border-radius: 5px;
    background-color: purple;
    color: #fafafa;
    border: solid 1px purple;
}


/* Estilos del bloque de los Copyrights*/
.copyrights{
    border-top: 1px solid aliceblue;
    display: flex;
    justify-content: center;
    margin: 0 5% ;
    padding: .5em 0;
    width: 94%;
}

.copyrights p {
    width: 55%;
    text-align: end;
}

.belowRightSection{
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    width: 45%;
}
.belowRightSection a {
    font-weight: lighter;
    text-decoration: none;
}
