.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 80px;
    padding: 56px 0 136px 0;
}

.contactSection h2 {
    margin: 10px;
}

.contactSection p {
    color: #FEFEFE;
}