.benefitsDisplaySection{
    text-align: center;
}

.h3_1{
    margin-bottom: 63px;
}

.elementContainerDisplay {
    display: flex;
    width: 100%;
}

.elementContainerDisplay img {
    width: 50%;
}

.elementContainerDisplay div{
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    text-align: left;
    padding: 0 80px;
}

.elementContainerDisplay h4 {
    font-size: 28px;
    font-weight: var(--semibold-weight);
    color: var(--main-font-color);
    margin-bottom: 10px;
    width: max-content;
}

.elementContainerDisplay p {
    width: max-content;
}

.secondDisplay {
    flex-direction: row-reverse;
}
